<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />

  <title><tmpl_var name="company_name"><tmpl_var name="app_title"></title>

  <meta name='viewport' content='width=device-width, user-scalable=yes'>
  <meta name='description' lang='en' content='' />
  <meta name='keywords' lang='en' content='' />
  <meta name='robots' content='index, follow' />

  <!-- Theme style -->
  <link rel="stylesheet" href="themes/<tmpl_var name='current_theme'>/plugins/admin-lte/css/adminlte.min.css">
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/fonts/source-sans-pro/source-sans-pro.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/css/fontawesome.min.css' />
  <!--<link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/bootstrap.min.css' />-->
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/fonts.min.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/ispconfig.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/pushy.min.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/bootstrap-datetimepicker.min.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/responsive.min.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/themes/default/theme.min.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/select2.css' />
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/select2-bootstrap.css' />
  <tmpl_if name='logged_in' value='n'><link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/stylesheets/login.css' /></tmpl_if>
  <link rel='stylesheet' href='themes/<tmpl_var name='current_theme'>/assets/css/styles.css' />
</head>

<body class="skin-blue control-sidebar-slide-open">
<div class="wrapper">

<tmpl_if name='logged_in' value='y'>
<nav class="main-header navbar navbar-expand navbar-dark bg-dark border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav" id='topnav-container'></ul>
    
    <tmpl_if name="cpuser">
        <tmpl_if name='usertype' op='==' value='normaluser'>
            <!-- search field -->
            <!-- SEARCH FORM -->
            <form action='#' method='get' id='searchform' role='form' class="form-inline ml-3 float-right">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" id="globalsearch">
                <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                </div>
            </div>
            </form>
        </tmpl_if>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
                    class="fa fa-th-large"></i></a>
            </li>
        </ul>
    </tmpl_if>

    
  </nav>
  <!-- /.navbar -->
</tmpl_if>

    <tmpl_if name='logged_in' value='y'>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="{tmpl_var name="base64_logo_txt"}" />
            </a>
            
            <!-- Sidebar -->
            <div class="sidebar">
            
            <div class="user-panel mt-3 pb-3 mb-3">
                <div class="info text-light">
                    <tmpl_var name="cpuser"> <br/>
                    <a type='button' data-load-content="login/logout.php"><i class="fas fa-sign-out-alt"></i> <tmpl_var name="logout_txt"> </a>
                </div>
            </div>
            
            </div>
        </aside>
        
    </tmpl_if>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section id='content' class="content">
      <div class="container-fluid">
      
        <div class="notification" data-toggle="modal" data-target="#datalogModal" style="display: none;">
            <span class="notification_text">{tmpl_var name="datalog_changes_count"}</span>
        </div>
        
        <!-- Datalogstatus Modal -->
        <div id="datalogModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{tmpl_var name="datalog_changes_txt"}</h4>
                </div>
                <div class="modal-body">
                <ul>
                    <tmpl_loop name="datalog_changes">
                        <li><strong>{tmpl_var name="text"}:</strong> {tmpl_var name="count"}</li>
                    </tmpl_loop>
                    </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <!-- END Datalogstatus Modal -->
      
        <form method="post" action="" id="pageForm" name="pageForm" enctype="multipart/form-data" class='form-horizontal' role='form'>
            <div id="pageContent" data-startpage="{tmpl_var name="startpage"}"><!-- AJAX CONTENT --></div>
        </form>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
  
    
    
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark sidebar-dark-primary">
        <tmpl_if name='logged_in' value='y'>
            <div id='sidebar' class=''></div>
        </tmpl_if>
    </aside>
    <!-- /.control-sidebar -->
  
    <footer id='footer'>
        
    </footer>
    
    <footer class="main-footer">
        powered by <a href="<tmpl_var name="app_link">" target="_blank"><tmpl_var name="app_title"></a>
    </footer>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <!--<script src='themes/<tmpl_var name='current_theme'>/assets/javascripts/bootstrap.min.js'></script>-->
  <script src='themes/<tmpl_var name='current_theme'>/assets/javascripts/bootstrap-datetimepicker.min.js'></script>
  
  
  <!--<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>-->
  <script src='themes/<tmpl_var name='current_theme'>/plugins/bootstrap/js/bootstrap.bundle.min.js'></script>
  <script src='themes/<tmpl_var name='current_theme'>/plugins/admin-lte/js/adminlte.min.js'></script>
  
  <script src='themes/<tmpl_var name='current_theme'>/assets/javascripts/ispconfig.js'></script>
  <script src='themes/<tmpl_var name='current_theme'>/assets/javascripts/modernizr.custom.min.js'></script>
  <script src='themes/<tmpl_var name='current_theme'>/assets/javascripts/pushy.min.js'></script>
  <script src='themes/<tmpl_var name='current_theme'>/assets/javascripts/responsive.min.js'></script>
  <script src='js/select2/select2.min.js'></script>
  <script src='js/scrigo.js.php'></script>
  <script type="text/javascript" src="js/jquery.ispconfigsearch.js"></script>
  <script type="text/javascript" src="js/jquery.tipsy.js"></script>
  <tmpl_loop name="js_d_includes">
	<script type="text/javascript" src="js/js.d/<tmpl_var name='file'>"></script>
  </tmpl_loop>
</div>
  <script>
  <!--
	//$('.ttip').tipsy({live: true, gravity: 'ne', html: true});
	
	ISPConfig.tabChangeDiscard = '<tmpl_var name="tabchange_discard_enabled">';
	ISPConfig.tabChangeWarning = '<tmpl_var name="tabchange_warning_enabled">';
	ISPConfig.tabChangeWarningTxt = '<tmpl_var name="global_tabchange_warning_txt">';
	ISPConfig.tabChangeDiscardTxt = '<tmpl_var name="global_tabchange_discard_txt">';
	
	<tmpl_if name="use_loadindicator" value="y">ISPConfig.setOption('useLoadIndicator', true);</tmpl_if>
	<tmpl_if name="use_combobox" value="y">ISPConfig.setOption('useComboBox', true);</tmpl_if>
	
	$(document).ready(function() {
		$('#globalsearch').ispconfigSearch({
			dataSrc: '/dashboard/ajax_get_json.php?type=globalsearch',
			resultsLimit: '$ <tmpl_var name="globalsearch_resultslimit_of_txt"> % <tmpl_var name="globalsearch_resultslimit_results_txt">',
			noResultsText: '<tmpl_var name="globalsearch_noresults_text_txt">',
			noResultsLimit: '<tmpl_var name="globalsearch_noresults_limit_txt">',
			searchFieldWatermark: '<tmpl_var name="globalsearch_searchfield_watermark_txt">',
			resultBoxPosition: ''
		});

	});
  //-->
  </script>

</body>

</html>
