<!-- Sidebar Menu -->
<nav class="mt-2">

    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <tmpl_loop name="nav_top">
        <li class="nav-item">
            
             <a href="#" class="nav-link <tmpl_if name="active">active</tmpl_if>" data-capp="<tmpl_var name='module'>">
                <div class="icon icon-<tmpl_var name='module'> d-inline-block"></div>
                <p>
                    <tmpl_var name="title">
                </p>
            </a>
        </li>
        </tmpl_loop>
    </ul>

    
</nav>
