<div class="card">
	<div class="card-header">
		<h3 class="card-title">{tmpl_var name='mailquota_txt'}</h3>
	</div>
	<div class='card-body table-responsive p-0'>
		<table class='table table-hover table-striped'>
			<thead>
			<tr>
				<th>{tmpl_var name='email_txt'}</th>
				<th>{tmpl_var name='name_txt'}</th>
				<th>{tmpl_var name='used_txt'}</th>
				<th colspan="2" style="width:25%">{tmpl_var name='quota_txt'}</th>
			</tr>
			</thead>
			<tbody>
			<tmpl_loop name='mailquota'>
				<tr>
					<td><a href="#" data-load-content="mail/mail_user_edit.php?id={tmpl_var name='mailuser_id'}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{tmpl_var name='email'}">{tmpl_var name='email'}</a></td>
					<td>{tmpl_var name='name'}</td>
					<td>{tmpl_var name='used'}</td>
					<td>{tmpl_var name='quota'}</td>
					<td>
						<div class='progress progress-xs'>
							<div class='progress-bar bg-{tmpl_if name="used_percentage" op="<" value="50"}success{tmpl_elseif name="used_percentage" op="<" value="75"}warning{tmpl_else}danger{/tmpl_if}' role='progressbar' aria-valuemin='0' aria-valuemax='100' aria-valuenow='{tmpl_var name="used_percentage"}' style='width:{tmpl_var name="used_percentage"}%' data-toggle="tooltip" data-placement="bottom" title="{tmpl_var name='used_percentage'}%">
								<span class='sr-only'>{tmpl_var name='used'} {tmpl_var name='of_txt'} {tmpl_var name='quota'}</span>
							</div>
						</div>
					</td>
				</tr>
			</tmpl_loop>
			</tbody>
		</table>
	</div>
</div>