<h2>{tmpl_var name='available_modules_txt'}</h2>
<div class="row">
	<tmpl_loop name='modules'>
	<div class="col-lg-2 col-6">
		<!-- small box -->
		<div class="small-box">
			<div class="inner">
				<h3>{tmpl_var name='modules_title'}</h3>
			</div>
			<div class="icon">
				<i class="icon icon-{tmpl_var name='modules_name'}"></i>
			</div>
			<a href="#" class="small-box-footer" data-capp='{tmpl_var name="modules_name"}'>{tmpl_var name='go_to_txt'} {tmpl_var name='modules_title'} <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	</tmpl_loop>
</div>